li {
  list-style: none;
}
.cartItem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(139, 0, 0, 0.4);
  padding-bottom: 10px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .summary {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.main .summary .price {
  color: darkred;
  font-weight: 800;
}
.main .summary .amount {
  color: #333;
  border: 1px solid #3334;
  padding: 0px 5px;
}
.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.actions button {
  border: 0;
  background-color: black;
  color: white;
  height: 30px;
  width: 30px;
  font-size: 14px;
  border-radius: 50%;
  cursor: pointer;
}
.actions button:hover,
.actions button:active {
  transform: scale(1.05);
  background-color: darkred;
}
