.meal {
  padding: 25px 20px;
  border-bottom: 2px solid #1112;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.description {
  font-style: italic;
}
.price {
  color: red;
  font-weight: 700;
}
