.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #111;
  color: white;
  z-index: 10;
  position: absolute;
}
.main-image img {
  height: 300px;
  width: 120%;
  transform: rotate(-5deg) translate(-40px, -10px);
  z-index: 1;
}
